/**
  重写container样式最大宽度
 */
/*html, body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
.table td {
    text-align: center;
}
.table th {
    text-align: center;
}
td {
    text-align: center;
}
.container {
    max-width: 65%
}